*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
sample-data/word2dita/all_defaults/dita
sample-data/word2dita/all_defaults/word/${dita.temp.dir}
sample-data/word2dita/all_defaults/word/dita/
